.bg-image {
    position: absolute;
    filter: blur(4px);
    -webkit-filter: blur(4px);
    width: 100%;
    min-height: 50em;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.intro-presentation {
    border-radius: 8px;
    padding-top: 2.5em;
    padding-bottom: 2.5em;
}

.intro-presentation::before {    
    content: "";
    background: linear-gradient(45deg, rgba(0,0,0,0.6), rgba(255,255,255,0.6));
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    border-radius: 8px;
    z-index: -1;
}

.bg-container {    
    content: "";
    background: linear-gradient(45deg, rgba(0,0,0,0.6), rgba(255,255,255,0.6));
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    border-radius: 8px;
}

.random-facts {
    border-radius: 8px;
    background: rgba(255,255,255,0.45);
}

.random-facts .box-header {
    position: absolute;
    width: 100%;
    top: -0.5em;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    z-index: 0;
    letter-spacing: 0.025em;
    font-size: 0.75rem;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    pointer-events: none;
}

.random-facts .fact {
    font-style: italic;
    opacity: 1;
    animation: fadeIn ease 1s;
    -webkit-animation: fadeIn ease 1s;
}

.fade-in {
    animation: fadeIn ease 1s;
    -webkit-animation: fadeIn ease 1s;
}

@keyframes fadeIn {
    0% {
        opacity:0;
        transform: translateY(100%);
    }
    100% {
        opacity:1;
        transform: translateY(0);
    }
}
